<div>
    <app-sidebar></app-sidebar>
</div>
<span (click)="logout()"><button id="btnLog" class="btn btn-danger" >Logout</button></span>
<div style="margin-left: 23vw">
    <table>
        <thead>
            <tr>
                <th>
                    Event Name
                </th>
                <th>
                    Event Date
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of eventArray">
                <td *ngIf="item.eventtype=='sport'">
                    {{item.ename}}
                </td>
                <td *ngIf="item.eventtype=='sport'">
                    {{item.date|date}}
                </td>
            </tr>
        </tbody>
    </table>
</div>