<div>
    <app-sidebar></app-sidebar>
</div>
<div class="aboutus">
    <h2>About Us</h2><br>
    <p>Since our foundation in 2002. The foundation stone for the internationally recognized company was laid by Himanshu Shah. Enzigma has grown into being a pioneer in Cloud Applications, Enterprise Mobility & Product Development. We were the very first
        company to launch an application ”FTP Attachments®” from India on AppExchange, a market place of Salesforce.com® and became ISV partner of Salesforce.com®. With an active client base of over 800 customers, Enzigma has become one of the leading
        solutions consultant to organizations spread across domains and of various sizes. A skilled, professional and dedicated team has allowed us to deliver solutions in various domains like E-Commerce, CRM, Product Licensing/Registration, Data Migration,
        Integration and other custom applications.</p>
</div>