.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
    /* width: 28vw */
}

.item3 {
    grid-area: main;
    /* margin-left: -150px; */
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header' 'menu main';
    background-color: antiquewhite;
    width: 100vw;
}