#sidebar-wrapper {
    position: relative;
    height: 76vh;
    /* padding: 0.875rem 1.25rem; */
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 18rem;
}


/* @media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
} */