.navbar {
    margin-left: 16.85vw;
    margin-top: -4vh;
}

.row {
    margin-left: 20vw;
    margin-top: 5vh;
    width: 600px;
}

.btn {
    width: 100px;
}

.btnED {
    width: 200px;
    padding: 10px;
    margin: 40px;
}