<div>
    <app-sidebar></app-sidebar>
</div>
<span (click)="logout()"><button id="btnLog" class="btn btn-danger" routerLink='/login'>Logout</button></span>
<!-- <div style="text-align:center">
    <h3>
        Welcome Super Admin!
    </h3>
</div> -->
<!-- <div style="float: right; padding: 1.5em;">
    <button class="btn1 btn btn-danger" id="logOut">Logout</button>
</div> -->

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand">Admin Panel</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" (click)="callCreateEvent()">Create Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="callDeleteEvent()">Remove Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="manageRegister()">Registration E/D</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="fixMatches()">Fixture</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="addWinner()">Winner List</a>
            </li>
        </ul>
    </div>
</nav>


<div class="row">
    <div class="col-md-10">
        <div hidden style="text-align:inherit" id="createEvents">
            <form (submit)="createEvent($event)">
                <label>Event-Name:</label>
                <input class="form-control" [(ngModel)]="evt.ename" type="text" name="ename" id="genEvent" placeholder="Event name"><br>
                <label>Event-Type:</label><br>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        Sports <input type="radio" [(ngModel)]="evt.eventtype" value="sport" name="stype" id="genType"
                            autocomplete="off" checked>
                    </label>
                    <label class="btn btn-success">
                        Cultural <input type="radio" [(ngModel)]="evt.eventtype" value="cultural" name="stype"
                            id="genType" autocomplete="off">
                    </label>
                </div><br />
                <!-- <label>Event-Type:</label> <input class="form-control" type="text" id="genType"> -->
                <label>Date: </label><input class="form-control" type="date" name="date" [(ngModel)]="evt.date" id="date" placeholder="Date"><br>
                <button class=" btn btn-success" style="margin-right: 16px" type="submit" (click)="saveEvent()">Generate</button>
                <button class=" btn btn-primary" style="margin-right: 16px" type="reset">Reset</button>
                <br><br>
            </form>
        </div>
        <div hidden style="text-align: justify" id="deleteEvents">
            <form (submit)="deleteEvent($event)">
                <!-- dropdown for event -->
                <div class="form-group col-xs-5">
                    <label class="control-label">Select Event:</label>
                    <select name="soption" [(ngModel)]="selectedevent" class="form-control selcls" required>
                        <option *ngFor="let e of eArr" [value]="e._id">{{e.ename}}</option>
                    </select>
                </div><br>
                <button class=" btn btn-danger" style="margin-right:16px" type="submit" (click)="removeEvent()">Remove</button>
                <!-- <button class=" btn btn-primary" style="margin-right: 16px" type="reset">Reset</button> -->
                <br><br>
            </form>
        </div>
        <div hidden style="text-align:center; padding-top: 80px; padding-left: 110px;" id="manageEvents">
            <form>
                <button class=" btn btn-success btnED" style="margin-right:16px" (click)="enableRegister($event)">Enable
                    Registration</button><br />
                <button class=" btn btn-danger btnED" style="margin-right: 16px" (click)="disableRegister($event)">Disable Registration</button><br><br>
            </form>
        </div>
        <div hidden style="text-align:center; padding-top: 80px; padding-left: 110px;" id="fixtureEvents">
            <form>

            </form>
        </div>
        <div hidden style="padding-top: 80px; padding-left: 110px;" id="winnerRecords">
            <span>
                <h4>Pick the year <i class="fa fa-arrow-down"></i></h4>
                <select id="lister" name="year">
                    <ng-container *ngFor="let yr of years">
                        <option value={{yr}}>{{yr}}</option>
                    </ng-container>
                </select>
                <button class="btn-primary next" type="submit" (click)="yearPick()">Next</button>
            </span>
        </div>
        <div hidden style="padding-top: 80px; padding-left: 110px;" id="winnerRecordsYear">
            <span>
                <h4>Enter the winner information <i class="fa fa-info-circle"></i></h4>
            </span>
            <ng-container id="lister" *ngFor="let wl of winList">
                {{wl}}: <input type="text" class="form-control" name="winLists" id="winLists">
            </ng-container><br />
            <button class="btn-primary next" type="submit">Submit</button>
        </div>
    </div>
</div>

<div>
    <ng-template *ngFor="let item of earr">
        <li>item.ename</li>
    </ng-template>
</div>