<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div style="text-align:center">
        <h1>
            Welcome Super Admin!
        </h1>
    </div>
    <div style="float: right; padding: 1.5em;">
        <button class="btn1 btn btn-danger" id="logOut">Logout</button>
    </div>
    <div class="row">

        <div class="col-md-2">


            <p>
                <button class="btn1 btn btn-primary" (click)="callCreateEvent()">
                                                Create
                                              </button>
            </p>
            <p>
                <button class="btn1 btn btn-primary" (click)="callDeleteEvent()">
                                                    Remove
                                                  </button>
            </p>

            <p>
                <button class="btn1 btn btn-primary" (click)="manageRegister()">
                                    Manage
                                  </button>
            </p>
            <p>
                <button class="btn1 btn btn-primary" (click)="fixMatches()">
                                        Fixture
                                      </button>
            </p>
        </div>
        <div class="col-md-10">
            <div hidden style="text-align:inherit" id="createEvents">
                <form>
                    <label>Event-Name:</label> <input class="form-control" type="text" id="genEvent" placeholder="Event name"> <label>Date: </label><input class="form-control" type="date" id="date" placeholder="Date"><br>
                    <button class="btn btn-success" style="margin-right: 16px" (click)="createEvent()">Generate</button>
                    <button class="btn1 btn btn-primary" style="margin-right: 16px" type="reset">Reset</button>
                    <br><br>
                </form>
            </div>

            <div hidden style="text-align: justify" id="deleteEvents">
                <form>
                    <label>Event-Name:</label> <input class="form-control" type="text" id="delEvent" placeholder="Event name" size="20"><br>
                    <button class="btn1 btn btn-danger" style="margin-right:16px" (click)="deleteEvent()">Remove</button>
                    <button class="btn1 btn btn-primary" style="margin-right: 16px" type="reset">Reset</button>
                    <br><br>
                </form>
            </div>

            <div hidden style="text-align:center; padding-top: 80px; padding-left: 110px;" id="manageEvents">
                <form>
                    <button class="btn btn-success" style="margin-right:16px" (click)="enableRegister()">Enable Register</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-danger" style="margin-right: 16px" (click)="disableRegister()">Disable Register</button><br><br>
                </form>
            </div>
        </div>
    </div>

</body>

</html>