<div>
    <app-sidebar></app-sidebar>
</div>
<!-- <div style="text-align:center">
    <h3>
        Welcome Super Admin!
    </h3>
</div> -->
<!-- <div style="float: right; padding: 1.5em;">
    <button class="btn1 btn btn-danger" id="logOut">Logout</button>
</div> -->

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand">Admin Panel</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" (click)="callCreateEvent()">Create Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="callDeleteEvent()">Remove Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="manageRegister()">Registration E/D</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="fixMatches()">Fixture</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="addWinner()">Winner List</a>
            </li>
        </ul>
    </div>
</nav>


<div class="row">
    <div class="col-md-10">
        <div hidden style="text-align:inherit" id="createEvents">
            <form (submit)="createEvent($event)">
                <label>Event-Name:</label> <input class="form-control" type="text" id="genEvent" placeholder="Event name"> <label>Date: </label><input class="form-control" type="date" id="date" placeholder="Date"><br>
                <button class=" btn btn-success" style="margin-right: 16px" type="submit">Generate</button>
                <button class=" btn btn-primary" style="margin-right: 16px" type="reset">Reset</button>
                <br><br>
            </form>
        </div>
        <div hidden style="text-align: justify" id="deleteEvents">
            <form (submit)="deleteEvent($event)">
                <label>Event-Name:</label> <input class="form-control" type="text" id="delEvent" placeholder="Event name"><br>
                <button class=" btn btn-danger" style="margin-right:16px" type="submit">Remove</button>
                <button class=" btn btn-primary" style="margin-right: 16px" type="reset">Reset</button>
                <br><br>
            </form>
        </div>
        <div hidden style="text-align:center; padding-top: 80px; padding-left: 110px;" id="manageEvents">
            <form>
                <button class=" btn btn-success btnED" style="margin-right:16px" (click)="enableRegister($event)">Enable Registration</button><br />
                <button class=" btn btn-danger btnED" style="margin-right: 16px" (click)="disableRegister($event)">Disable Registration</button><br><br>
            </form>
        </div>
        <div hidden style="text-align:center; padding-top: 80px; padding-left: 110px;" id="fixtureEvents">
            <form>

            </form>
        </div>

        <div hidden style="text-align:center; padding-top: 80px; padding-left: 110px;" id="winnerRecords">
            <ng-template *ngFor="let wl of winList">
                <label>wl</label><input type="text" name="" id="">
            </ng-template>
        </div>
    </div>
</div>